.content figure {
    position: relative;

    margin: 0;
}

.content figure img, .content figure .overlay {
    width: 250px;

    border-radius: 5px;
}

.content figure .overlay {
    z-index: 2;

    position: absolute;
    top: 0;

    width: 100%;
    height: 98%;

    padding: 10px;

    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);

    cursor: pointer;
}