@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background-color: #DFF5FF;

    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;

    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

object {
    pointer-events: none;
}

a {
    color: inherit !important;
    text-decoration: none;
}

.hidden {
    display: none !important;
}