header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80px;

    padding: 10px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);

    background-color: #5356FF;
    color: #FFFFFF;
}

#sidebar {
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;

    width: 70%;
    height: 100%;

    padding: 10px;

    background-color: #5356FF;
}

#sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
}

header .logo {
    width: 200px;

    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

#hamburger-button, #close-sidebar-button {
    display: flex;
    align-items: center;

    padding: 0;

    background: none;
    border: none;
}

#hamburger-button .icon {
    width: 50px;
    height: 50px;

    cursor: pointer;
    pointer-events: none;
}

#close-sidebar-button {
    margin-left: auto;
}

#close-sidebar-button .icon {
    width: 30px;
    height: 30px;

    cursor: pointer;
    pointer-events: none;
}

#search-bar {
    background-repeat: no-repeat;
    background-position: calc(100% - 5px);
    background-size: 25px;

    width: 400px;
    height: 35px;

    padding: 0 35px 0 10px;

    border: none;
    border-radius: 5px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#search-bar:focus {
    outline: solid 2px #28283d;
}

#horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 75%;
}

header .small-screen {
    display: none;
}

@media screen and (max-width: 1200px) {
    #horizontal {
        width: 100%;
    }

    #search-bar {
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    header .big-screen {
        display: none !important;
    }

    header .small-screen {
        display: inherit  !important;
    }
}

@media screen and (max-width: 600px) {
    header .spacer {
        display: none  !important;
    }

    #search-bar {
        width: 100%;
        max-width: 300px;
    }
}

header section {
    display: flex;
    align-items: center;
}

#horizontal section {
    position: relative;

    padding: 10px;
}

header .icon {
    width: 20px;
    height: 20px;
}

#login-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 6px;

    border: 2px solid #FFFFFF;
    border-radius: 5px;

    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

#login-link * {
    cursor: pointer;
}

#post-content-link {
    width: 40px;
    height: 40px;

    padding: 5px;

    border: 2px solid ;
    border-radius: 100%;

    background-color: #28283d;
}

#profile-button {
    width: 60px;
    height: 60px;

    padding: 5px;

    border: 2px solid #FFFFFF;
    border-radius: 100%;

    background: none;

    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

#profile-dropdown {
    width: 120px;

    position: absolute;

    top: 75px;
    right: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 15px;

    background-color: white;
    color: black;

    border-radius: 7px;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#profile-dropdown:before {
    content: '';

    position: absolute;
    top: -8px;
    right: 20px;

    border-bottom: 10px solid #FFFFFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#profile-dropdown a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.spacer {
    flex-grow: 1;
}

header .links-container {
    flex-direction: column;
    align-items: flex-start;

    margin: 10px;

    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}

header .links-container a {
    display: flex;
    align-items: center;
    gap: 10px;

    padding-bottom: 10px;
    padding-top: 10px;

    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0 0 2px 0;
}