#page {
    display: flex;
    justify-content: center;
    gap: 10px;

    width: 100%;
}

#page-content {
    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 75%;

    margin: 50px 0;
}

#page-content .row {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 0 5px;
}