.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.flex-container > form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    height: 190px;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    padding: 10px;
    gap: 5px;
    margin-top: 3px;
}

.submit-button{
    align-self:flex-end;
}

